/* @import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.view {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  display: flex;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.top {
  width: 335px;
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  color: white;
  font-family: "Hanken Grotesk", sans-serif;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Hanken Grotesk", sans-serif;
}


.score {
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  width: 200px;
  height: 200px;
  border-radius: 50%;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0.1;
}

.score-heading {
  font-size: 4rem;
}

.of {
  font-size: 12px;
  opacity: 50%;
  margin: 0;
}
.great {
  font-size: 1.5rem;
  margin: 15px;
}

.top-text {
  font-size: 13px;
  font-weight: 300;
  opacity: 70%;
  text-align: center;
  margin: 0px 50px;
}

.scores {
  background-color: red;
  width: 295px;
  height: 10px;
  margin: 5px;
  border-radius: 20px;
  padding: 20px;
}

.summary-text {
  align-self: flex-start;
  margin-left: 15px;
  font-size: 1.3rem;
  font-weight: 600;
}

input[value="Continue"] {
  background-color: rgb(33, 13, 113);
  color: #fff;
  font-size: 1rem;
  align-self: center;
  width: 300px;
  height: 50px;
  border-radius: 30px;
  opacity: 90%;
  margin: 20px;
}
.scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bold {
  font-weight: 700;
}
.light-red {
  background-color: hsla(0, 100%, 67%, 0.1);
}
.red {
  color: darkred;
}
.light-yellow {
  background-color: hsla(39, 100%, 56%, 0.1);
}
.yellow {
  color: darkgoldenrod;
}
.light-green {
  background-color: hsla(166, 100%, 37%, 0.1);
}
.green {
  color: darkgreen;
}
.light-blue {
  background-color: hsla(234, 85%, 45%, 0.1);
}
.blue {
  color: darkblue;
}

.your-result{

padding: 20px;}
@media (max-width: 375px) {
  .main {
    height: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }
  .top {
    width: 100%;
    height: 40vh;
    border-radius: 30px;
    justify-content: space-between;
  }
  .score {
  
    width: 100px;
    height: 100px;
    border-radius: 50%;
    flex-direction: column;
    align-items: center;
    line-height: 0.1;
  }

  .score-heading {
    font-size: 2rem;
  }
}

@media (min-width: 380px) and (max-width: 800px) {
}

 */










 @import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  display: flex;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.top {
  width: 335px;
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  color: white;
  font-family: "Hanken Grotesk", sans-serif;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Hanken Grotesk", sans-serif;
}

.score {
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  width: 200px;
  height: 200px;
  border-radius: 50%;
  flex-direction: column;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 0.1;
}

.score-heading {
  font-size: 4rem;
}

.of {
  font-size: 12px;
  opacity: 50%;
  margin: 0;
}

.great {
  font-size: 1.5rem;
}

.top-text {
  font-size: 13px;
  font-weight: 300;
  opacity: 70%;
  text-align: center;
  margin: 0px 50px;
}

.scores {
  background-color: red;
  width: 295px;
  height: 10px;
  margin: 5px;
  border-radius: 20px;
  padding: 20px;
}

.summary-text {
  align-self: flex-start;
  margin-left: 35px;
  font-size: 1.3rem;
  font-weight: 600;
}

input[value="Continue"] {
  background-color: rgb(33, 13, 113);
  color: #fff;
  font-size: 1rem;
  align-self: center;
  width: 300px;
  height: 50px;
  border-radius: 30px;
  opacity: 90%;
  margin: 20px;
}

.scores {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bold {
  font-weight: 700;
}

.light-red {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: darkred;
}

.light-yellow {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: darkgoldenrod;
}

.light-green {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: darkgreen;
}

.light-blue {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: darkblue;
}

.your-result {
  padding: 20px;
}

@media (max-width: 375px) {
  .main {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }
  .top {
    width: 100%;
    height: 40vh;
    padding: 40px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    justify-content: space-between;
  }
  .bottom{
    width: 100%;
    height: 60vh;
  }
  .score {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    flex-direction: column;
    align-items: center;
    line-height: 0.1;
  }

  .score-heading {
    font-size: 2rem;
  }
}

